.entete_header {
    background-image: url("images/react.png");
    background-repeat: no-repeat;
    background-position: right;
  }
.entete_header a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  @media screen and (max-width:700px) {
    .entete_header {
      background-image: url("images/react.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
    }
  }