.footer_header{
    background-image: url("images/wordpress-theme.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.menu-fin{
    display: flex;
    justify-content: space-around;
}
.menu-fin ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 0.75rem;
}
  
  @media screen and (max-width:700px) {
    .footer_header {
        background-image: url("images/wordpress-theme.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 300px ;
    }
    .menu-fin{
        flex-direction: column;
        align-items: flex-start;
    }
  }