:root {
    /*==================*/

    /* TEINTE TECHNIQUE TRIADE */
    --t1: 273;
    --t2: calc(var(--t1) + 120);
    --t3: calc(var(--t1) - 120);
    --t4: calc(var(--t1) + 60);


    /*==================*/

    /*SAturation*/
    --s--arriere: 70%;
    --s-avant: 30%;

    /*luminosite*/
    --l-arriere:30%;
    --l-avant:80%;

   /* couleur avant plan --color-- */
   --couleur--entete:hsl(var(--t1), var(--s-avant), var(--l-avant));
    --couleur--accueil:hsl(var(--t2), var(--s-avant), var(--l-avant));
    --couleur--evenement:hsl(var(--t3), var(--s-avant), var(--l-avant));
    --couleur--galerie: hsl(var(--t4), var(--s-avant), var(--l-avant)); 
    --couleur--footer:hsl(var(--t1), var(--s-avant), var(--l-avant));

    

    /*---couleur monochrome arriere plan****/
    --couleur--arrier-entete:hsl(var(--t1), var(--s--arriere), 30%);
    --couleur--arrier-accueil:hsl(var(--t1), var(--s--arriere), 60%);
    --couleur--arrier-diagonal: hsl(var(--t1), var(--s--arriere), 70%);
    --couleur--arrier-footer:hsl(var(--t1), var(--s--arriere), 30%);

    

    /*couleur evenement setup pour le diagonal*/
    --couleur--arrier-evenement : var(--couleur--arrier-accueil);
    --couleur--arrier-galerie: var(--couleur--arrier-accueil);
    
    
}

.carte{
    --couleur--arrier:hsl(var(--t1), var(--s--arriere), 35%);
}

