.destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex: 1  0 calc(900px/4);//
    padding: 1rem;
    border : 1px solid #6ca4b8;
    background-color: var(--couleur--arrier);
    border-radius: 10px;
}

/****************************************/
/*  AJOUT D'ANIMATION DU HOVER SUR CHAQUE CARTE*/

.carte:hover{
    transform: scale(1.08);
    transition: transform 0.5s;
}

.carte img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.post-categories{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}