/*STYLE MENU PRINCIPAL*/

.menu-principal-container{ //nav
    
    
    .menu{//ul
        @media (max-width: 700px){
            display: flex;
            list-style-type: none;
            height: auto;
            opacity: 0;
            transition: opacity 1.0s;
            
            // position: absolute;
            // top: 5%;
            // left: 5%;
            // width: 40%;
            // flex-direction:column;
            flex-wrap: wrap;

        }

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        height: auto;
        background-color: var(--couleur--arrier-footer);
        border-radius: 10px;
    }
    .menu-item{ //li
        flex: 1 0 300px;
        @media screen and (min-width: 700px) {
            flex: 1 0 100px
        }

    }
    .menu-item a{ // li a
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }      
}

#menu-button{
    display: block;
    position: absolute;
    top: 4%;
    right: 4%;
    @media (min-width: 700px){
        display: none;   
    }
   
}
#check-menu:checked ~ .menu-principal-container .menu{
        opacity: 1 ;
        transition: opacity 1.0s;
    }

input{
    display: none;
}



