.recherche{
    display: block;
    justify-items: flex-end;

}
.recherche input[type="search"]{
    width: 230px;
    height: 2rem;
    border-radius: 50px;
    border: 1px solid var(--couleur--entete);
}
button, 
[type="submit"]{
    width: 60px;
    height: 2rem;
    border-radius: 50px;
    background-color: var(--couleur--entete);
}
