.recherche{
    display: block;
    justify-items: flex-end;

}
.recherche input[type="search"]{
    width: 20%;
    height: 2rem;
    border-radius: 50px;
}
button, 
[type="submit"]{
    width: 5%;
    height: 2rem;
    border-radius: 50px;
    background-color: var(--couleur--entete);
}
