


/*===========VARIABLE SASS==================*/
//Palette de couleur HSL//
$--clr-bleu-pale    : hsl(220, 100%, 85%);
$--clr-bleu-leger  : hsl(206, 95%, 59%);
$--clr-bleu-moyen  : hsl(211, 100%, 30%);    
$--clr-bleu-fonce  : hsl(220, 100%, 15%);


$--clr-orange-pale: hsl(40, 100%, 85%);
$--clr-orange-leger  : hsl(41, 100%, 65%);
$--clr-orange-moyen  : hsl(40, 61%, 40%);
$--clr-orange-fonce  : hsl(40, 100%, 15%);

$--clr-rouge-pale: hsl(10, 100%, 85%);
$--clr-rouge-leger  : hsl(10, 71%, 60%);
$--clr-rouge-moyen  : hsl(10, 53%, 51%);
$--clr-rouge-fonce  : hsl(10, 100%, 15%);

$--clr-vert-pale: hsl(70, 100%, 85%);
$--clr-vert-leger  : hsl(70, 75%, 55%);
$--clr-vert-moyen  : hsl(70, 66%, 35%);
$--clr-vert-fonce  : hsl(70, 100%, 15%);

//*===========CREATION MAP==================*//
//A partir des variables de couleurs de la palette choisie ou un mapping
//en categorisant les differente couleurs
//Map principal et sous-map
$defaut: (
    primaire : (
        100: $--clr-bleu-pale,
        200: $--clr-bleu-leger,
        300: $--clr-bleu-moyen,
        400: $--clr-bleu-fonce
    ),
    secondaire : (
        100: $--clr-orange-pale,
        200: $--clr-orange-leger,
        300: $--clr-orange-moyen,
        400: $--clr-orange-fonce
    ),
    ternaire : (
        100: $--clr-rouge-pale,
        200: $--clr-rouge-leger,
        300: $--clr-rouge-moyen,
        400: $--clr-rouge-fonce
    ),
    vert : (
        100: $--clr-vert-pale,
        200: $--clr-vert-leger,
        300: $--clr-vert-moyen,
        400: $--clr-vert-fonce
    )
);





:root {
    /*==================*/

    /* TEINTE TECHNIQUE TRIADE */
    --t1: 273;
    --t2: calc(var(--t1) + 120);
    --t3: calc(var(--t1) - 120);
    --t4: calc(var(--t1) + 60);


    /*==================*/

    /*SAturation*/
    --s--arriere: 70%;
    --s-avant: 30%;

    /*luminosite*/
    --l-arriere:30%;
    --l-avant:80%;

   /* couleur avant plan --color-- */
   --couleur--entete:hsl(var(--t1), var(--s-avant), var(--l-avant));
    --couleur--accueil:hsl(var(--t2), var(--s-avant), var(--l-avant));
    --couleur--evenement:hsl(var(--t3), var(--s-avant), var(--l-avant));
    --couleur--galerie: hsl(var(--t4), var(--s-avant), var(--l-avant)); 
    --couleur--footer:hsl(var(--t1), var(--s-avant), var(--l-avant));

    

    /*---couleur monochrome arriere plan****/
    --couleur--arrier-entete:hsl(var(--t1), var(--s--arriere), 30%);
    --couleur--arrier-accueil:hsl(var(--t1), var(--s--arriere), 60%);
    --couleur--arrier-diagonal: hsl(var(--t1), var(--s--arriere), 70%);
    --couleur--arrier-footer:hsl(var(--t1), var(--s--arriere), 30%);

    

    /*couleur evenement setup pour le diagonal*/
    --couleur--arrier-evenement : var(--couleur--arrier-accueil);
    --couleur--arrier-galerie: var(--couleur--arrier-accueil);
    
    
}

.carte{
    --couleur--arrier:hsl(var(--t1), var(--s--arriere), 35%);
}

// #entete{
//     --_couleur-arriere-vague : var(--couleur--arrier-entete);
// }
// #galerie{
//     --_couleur-arriere-vague : var(--couleur--arrier-galerie);
// }

