.vague {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.vague svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 75px;
}

.vague .shape-fill {
    fill: var(--couleur--arrier-accueil);
}


// .vague2 {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     overflow: hidden;
//     line-height: 0;
//     transform: rotate(180deg);
// }

// .vague2 svg {
//     position: relative;
//     display: block;
//     width: calc(158% + 1.3px);
//     height: 55px;
// }

// .vague2 .shape-fill {
//     fill: var(--couleur--arrier-evenement);
// }

// .vague3 {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     overflow: hidden;
//     line-height: 0;
//     transform: rotate(180deg);
// }

// .vague3 svg {
//     position: relative;
//     display: block;
//     width: calc(133% + 1.3px);
//     height: 164px;
// }

// .vague3 .shape-fill {
//     fill: var(--couleur--arrier-galerie);
// }

.curve1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve1 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 37px;
}

.curve1 .shape-fill {
    fill: var(--couleur--arrier-galerie);
}