a{
    background-color: var(--couleur--arrier-footer);
    color: white;
    text-decoration: none;

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
    
}
a:hover{
    color: rgb(52, 70, 134);
    background-color: var(--couleur--arrier-diagonal);
}
.menu-fin p{
    color: white;
}
.menu-fin span{
    color: var(--couleur--arrier-footer);
    font-weight: bold;
}
#menu-footer a{
    color: white;
    width: 300px;
    height: 50px;
}
